[Desktop Entry]
Type=Application
Name=Zebra RAW
Comment=Enviar ZPL RAW para impressoras térmicas Zebra por USB
Exec=zebra-raw
Icon=zebra-raw
Terminal=false
Categories=Utility;
Keywords=Zebra;ZPL;RAW;impressora;térmica;
StartupNotify=true
StartupWMClass=Zebra RAW
