[Desktop Entry]
Type=Application
Name=Zebra RAW
Comment=Enviar ZPL RAW para impressoras térmicas Zebra
Exec=zebra-raw
Icon=io.github.fcordeiro.zebraraw
Terminal=false
Categories=Utility;
StartupWMClass=io.github.fcordeiro.zebraraw
